numpy
scipy
lmfit==1.0.3
nibabel
nipype==1.1.2
progressbar33==2.4
seaborn==0.11.2
matplotlib
scikit-build
opencv-python
git+https://github.com/brkraw/bruker@e27c5039c9c3a84ce7cd19c9627360e5a31b4ebc
openpyxl
